.mobile {
	display : none;
}
html, body {
	height : 100%;
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

/* jquery mobile css fix */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

/* body background setting*/
body {
	background-color : #eeedee;
}
/* header setting*/
header {
	width : 100%;
}
header .navbar {
	margin-bottom : 0px;
	border : 0px;
	border-radius : 0px;
	background-color : #333;
}
header .navbar-inverse {
	background : rgb(0,0,0);
}
header #nav-panel {
	padding-right : 0px;
}
header .navbar-brand,
header .navbar-nav li a {
	height : 64px;
	line-height : 64px;
	font-family : 'HELVETICANEUELTPRO-BDCN';
	font-size : 17px;
}
header .navbar-nav li.last a {
	padding-right : 0px;
}
header .navbar-nav li a.active {
	color : #fff;
}

header .navbar-fixed-top {
	margin-bottom : 0px;
	border : 0px;
	border-radius : 0px;
}
header .navbar .navbar-collapse {
	padding : 0px 15px 0px 15px;
}
header #top-menu {
	width:50%;
	padding:0px;
	min-width : 700px;
}
header ul.navbar-nav {
	float : right;
}
header .description {
	padding-top : 50px;
}
header .description h2 {
	text-align : center;
	margin-top : 0px;
	font-family :  'HELVETICANEUELTPRO-BDCN';
	font-size : 83px;
}
header .description h3 {
	text-align : center;
	margin-top : 0px;
	font-family :  'HELVETICANEUELTPRO-BDCN';
	font-size : 24px;
}
header .description p {
	width : 50%;
	margin : 0px auto;
}

/* content setting */

#content {
	width : 50%;
	max-width : 640px;
	margin : 0px auto;
	padding : 0px;
}
#content section h2 {
	text-align : center;
	line-height : 150%;
	border-bottom : 2px solid;
}
#content section .subsection {
	margin-bottom : 40px;
}
#content section .subsection h3 {
	text-align : center;
}
#content section .subsection h4 {
	text-align : center;
	margin-top : 0px;
	font-family :  'HELVETICANEUELTPRO-BDCN';
}
#content section .subsection a.readmore {
	display : inline-block;
	width : 100%;
	text-align : center;
	margin : 0px auto;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* Footer Setting */
footer {
	background-color : rgb(0,0,0);
	width : 100%;
	height : auto;
}

footer .footer {
	width : 75%;
	margin : 10px auto 0px auto;
}

footer ul {
	list-style : none;
	padding-left : 0px;
}

footer ul li {
	display : inline;
	padding : 0px 5px 0px 5px; 
	text-align : center;
	color : rgb(255,255,255);
}

footer .footer .footer-left {
	float : left;
}

footer .footer .footer-right {
	float : right;
}
