.mobile {
	display : none;
}

html, body {
	height : auto;
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

/* jquery mobile css fix */
.ui-loading .ui-loader { display: block; }
.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

/* body background setting*/
body {
	background-color : #eeedee;
}
/* header setting*/
header {
	width : 100%;
}
header #welcomeMessage {
	width : 50%;
	padding : 0px;
}
header .navbar {
	margin-bottom : 0px;
	border : 0px;
	border-radius : 0px;
	background-color : #333;
}
header .navbar-inverse {
	background : rgb(0,0,0);
}
header #nav-panel {
	padding-right : 0px;
}
header .navbar-brand,
header .navbar-nav li a {
	height : 64px;
	line-height : 64px;
	/* padding : 15px 10px 15px 10px; */
	font-family : 'HELVETICANEUELTPRO-BDCN';
	font-size : 17px;
}
header .navbar-nav li.last a {
	padding-right : 0px;
}
header .navbar-nav li a.active {
	color : #fff;
}
header .navbar-fixed-top {
	margin-bottom : 0px;
	border : 0px;
	border-radius : 0px;
}
header .navbar .navbar-collapse {
	padding : 0px 15px 0px 15px;
}
header #top-menu {
	width:50%;
	padding:0px;
	min-width : 730px;
}
header ul.navbar-nav {
	float : right;
}
header .carousel-inner {
	max-height : 250px;
	overflow : hidden;
}

/* content setting */

#content {
	display : block;
	width : 100%;
	height : auto;
	padding : 0px;
}
#content section {
	min-height : 8cm;
}
#content .title {
	width : 100%;
	min-height : 184px;
	padding : 56px 0px 0px 0px;
	line-height : 100%;
}
#content h2 {

	font-family : 'RockwellBold';
	font-size : 83px;
	text-align : center;
	margin-top : 0px;
	margin-bottom : 0px;
	line-height : 100%;
}
#content h2.detail {
	margin-top : -8px;
	line-height : 73px;
}
#content h3 {

	font-family : 'RockwellBold';
	font-size : 30px;
	text-align : center;
	margin-top : 0px;
}
#content article {
	width : 100%;
}
#content .para {
	padding-top : 40px;
	/* min-height : 328px; */
	font-size : 16px;
	line-height : 25.5px;
	max-width: 640px;
	margin : 0px auto;
	margin-bottom : 40px;
}
#content .para h4 {
	font-family: 'RockwellBold';
	font-size: 25px;
	text-align: center;
}
/* carousel/our staff setting */
#ourpeople {
	width : 100%;
}
#ourpeople .carousel {
	width : 50%;
	min-width : 750px;
	margin : 0px auto;
}
#ourpeople .carousel-inner > .item {
	display : block !important;
	float : left !important;
	left : auto !important;
	position : static !important;
	float : left !important;
	width : 33.3% !important;
	
}
#ourpeople .item img {
	margin : 0px auto;
}
#ourpeople  .staffname {
	text-align : center;
}
#ourpeople .item .staffimg img {
	margin : 10px auto;
}

#ourpeople .jobtitle {
	text-align : center;
}

/* portfolio */
#content section .gallery {
	width : 65%;
}
#content section .gallery nav {
	width : 100%;
}
#content section .gallery ul {
	list-style : none;
	padding-left : 0px;
}
#content section .gallery ul li {
	display : inline;
	text-align : center;
}
#content section .gallery a {
	text-decoration : none;
}
#content section .galleryContainer img {
	width : 200px;
	height : 150px;
	margin : 15px;
	float : left;
	box-shadow: 5px 5px 6px #888888;

}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* Footer Setting */
footer {
	background-color : rgb(0,0,0);
	border-top : 4px solid #9EB200;
	width : 100%;
	height : auto;
}

footer .footer {
	width : 75%;
	margin : 10px auto 0px auto;
}

footer ul {
	list-style : none;
	padding-left : 0px;
}

footer ul li {
	display : inline;
	padding : 0px 5px 0px 5px; 
	text-align : center;
	color : rgb(255,255,255);
}

footer .footer .footer-left {
	float : left;
}

footer .footer .footer-right {
	float : right;
}
