@font-face {
	font-family: Arial;
	src: url(../fonts/ARIAL.TTF);
}
@font-face {
	font-family: Arialbd;
	src: url(../fonts/ARIALBD.TTF);
}
@font-face {
	font-family: HELVETICANEUELTPRO-BDCN;
	src: url(../fonts/HELVETICANEUELTPRO-BDCN.OTF);
}
