.desktop {
	display : none;
}

/* Header Setting*/
header #navbar {
	margin-bottom : 0px;
}
header .navbar {
	margin-bottom : 0px;
	border : 0px;
	border-radius : 0px;
	background-color : #333;
}
header .navbar-inverse {
	background : rgb(0,0,0);
}
/* Content Setting*/
#content {
	padding : 0px 0px 0px 0px;	
}
#content .title {
	padding-bottom : 4px;
}
#content .subtitle {
	margin-top : -5px;
}
.arrow {
	position : absolute;
	left : 92%;
	padding-top : 3.9px;
}
#content .subtitle .arrowup {
	display : none;
}
#content section h2 {
	font-family : 'Arialbd';
	font-size : 1.6em;
	text-align : center;
	margin-top : 0px; 
	padding-top : 12px;
}
#content section h3 {
	font-family : 'Arialbd';
	font-size : 1em;
	text-align : center;
	margin-bottom : 0px;
	margin-top : 10px;
}
#content section .para {
	padding : 2em;
}
/* Carsouel Setting*/
#ourpeople .item {
	margin : 0px auto;
}
#ourpeople .item h4 {
	text-align : center;
}
#ourpeople .item p {
	text-align : center;
}
#ourpeople .item .staffimg img {
	margin : 10px auto;
}



/* Footer Setting */
footer {
	background-color : rgb(0,0,0);
	margin-top : 20px;
	border-top : 4px solid #9EB200;
	width : 100%;
	height : auto;
}

